    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal"
        aria-hidden="true">&times;</button>
         <h4 class="modal-title">Editar Seleccionables</h4>
    </div><!-- /modal-header -->
    
    <div class="modal-body">
        
       <!-- modal-form -->
        <div class="modal-form">
          
            <div class="modal-form-row">
                
                <div class="panel panel-default panel-edit-list no-border">
                    
                        <div class="panel-body"> 
                              
                                <!-- item -->
                                <div class="well xs" ng-repeat="selectable_type in selectable_types"
                                    ng-class="{'well xs active': isSelected($index),
                                                'well xs': !isSelected(selectable_type.id)}"
                                    ng-click="changeSelected($index)">  
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
                                        {{selectable_type.name}}
                                    </div> 
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 action"> 
                                        <a href="" ng-click="newSelectable(selectable_type)"
                                            data-toggle="modal" data-target="#page-modal"
                                         class="resume-item-edit"><span class="fa fa-edit"></span></a>
                                         <a href="" ng-click="delSelectableType($index)"
                                         class="resume-item-remove"><span class="fa fa-close"></span></a>
                                    </div> 
                                </div>
                                <!-- item END -->
                        </div>
                        
                    </div>
                    <!-- panel END -->

                <div ng-hide="show_add_button" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 action no-pad-left">
                    <a href="" ng-click="newSelectable(null)" class="btn btn-sm btn-green-add">
                    Nuevo Seleccionable</a>
                </div>
            </div>
        </div>
        <!-- modal-form END -->
        
    </div><!-- /modal-body -->
    
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-md btn-success"
        data-dismiss="modal">Ok</button>
    </div><!-- /modal-footer -->
