    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"
        aria-hidden="true">&times;</button>
         <h4 class="modal-title">Editar horarios</h4>
    </div><!-- /modal-header -->
    
    <div class="modal-body user-info">
        
       <!-- modal-form -->
        <div class="modal-form">
          
            <div class="modal-form-row">
            
            	<table class="table table-default">
                
                    <tr ng-repeat="schedule in schedules">
                        <td><timepicker ng-model="schedule.start_time"
                            class="form-control input-grey"></timepicker></td>
                        <td><timepicker type="text" ng-model="schedule.finish_time"
                            class="form-control input-grey"></timepicker></td>
                        <td><a href="" ng-click="removeSchedule($index)" class="resume-item-remove"><span
                        class="fa fa-close"></span></a></td>
                    </tr>
				
                </table>
                 	
                <div ng-hide="schedules.length" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 action no-pad-left">
                    <a href="" ng-click="newSchedule()" class="btn btn-sm btn-green-add">
                    Agregar horario</a>
                </div>
            </div>
               
        </div>
        <!-- modal-form END -->
        
    </div><!-- /modal-body -->
    
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-md btn-clear"
        data-dismiss="modal">Cancelar</button>
        <button type="button" ng-click="saveSchedules()" class="btn btn-md btn-success">Guardar</button>
    </div><!-- /modal-footer -->
