	<!-- main-content -->
	<div id="main-content">
		
        <!-- page_header -->
        <header class="page_header" style="background-image:url(/static/images/header-1290x345.jpg);">
             <div class="container">
                <div class="row">
                    <div class="col-lg-12">&nbsp;</div>
                </div>
             </div>
        </header>
        <!-- page_header END -->
    	  
        <!-- content -->
        <section class="content"> 
        	<!-- content > container -->
            <div class="container">
        		
                <!-- content-triangle confirmed -->
                <div class="content-triangle confirmed">
                	<i class="bg-top"></i>
                    
                    <fieldset class="reddot fieldset-head">
                        <legend class="page-title">Confirmación</legend>
                        <span class="order-id">Orden # {{order.order_number}}</span>
                        <p class="legend-caption">Gracias, su orden ha sido registrada</p>
                    </fieldset>
                    
                    <fieldset class="reddot">
                        
                        <table class="table-default table-order">
                            <tr>
                                <td class="icon"><span class="fa fa-user"></span></td>
                                <td class="user-info"><strong class="user-name">{{order.user.first_name + ' ' +
                                order.user.last_name}}</strong></td>
                            </tr>
                            <tr>
                                <td class="icon"><span class="fa fa-phone"></span></td>
                                <td class="user-info"><span class="user-phone">{{order.user.telephone}}</span></td>
                            </tr>
                            <tr>
                                <td class="icon"><small>Tipo: </small></td>
                                <td><strong>{{order.order_type}}</strong></td>
                            </tr>
                            <tr ng-if="order.delivery_address">
                                <td class="icon"><span class="fa fa-map-marker"></span></td>
                                <td class="user-info">Enviar a: <strong class="user-address">
                                {{order.delivery_address.street_name + ' ' +
                                order.delivery_address.street_number + '(' +
                                order.delivery_address.delivery_zone.name + ', ' +
                                order.delivery_address.city.name + ')'}}</strong></td>
                            </tr>
                            <tr ng-if="order.rnc">
                                <td class="icon"><small>RNC</small></td>
                                
                                
                                <td class="user-info">{{order.rnc.rnc_number}} | {{order.rnc.description}}</td>
                                 
                            </tr>
                        </table>
                        
                    </fieldset>
                    
                    <fieldset class="reddot">
                            
                            <div class="col-lg-12">
                            
                                <p><textarea class="form-control input-sm input-grey input-italic" rows="3"
                                disabled="disabled" placeholder="Instrucciones especiales">{{order.additional_info}}
                                </textarea></p>
                            
                            </div> 
                    
                    </fieldset>
                    
                    <!-- order-resume -->
                    <div class="order-resume">
                    
                    	<div class="order-resume-header col-xs-12">
                        
                        	<h4 class="resume-title">{{order.restaurant.name}}
                            <small>#{{order.restaurant.main_food}} #{{order.restaurant.second_food}}</small></h4> 
                            <p><span class="fa fa-map-marker"></span>
                            <strong>{{order.restaurant.address}}</strong></p>
                        
                        </div>
                        
                        <!-- order-resume-body -->
                        <div class="order-resume-body col-xs-12">
                        
                        	<div class="panel panel-head">
                            	<div class="panel-body"> 
                                    <div class="row">
                                    	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 description">Item</div>
                                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7 price-total">Cantidad</div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 price-unit">Precio</div>
                                    </div>
                            	</div>
                            </div>
                            
                            <!-- item panel panel-default -->
                        	<div class="panel panel-default" ng-repeat="item in orderItems.objects">
                            	<div class="panel-body"> 
                                    <div class="row"> 
                                    	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 description"> 
                                            <h4>{{item.item.category.name}}-{{item.item.name}}</h4>
                                            <p class="text" ng-repeat="selectable in
                                            item.selectables_associated">{{selectable.name}}
                                            <small ng-if="selectable.price > 0"> + RD${{selectable.price | number:2}}
                                            </small></p>
                                            <p class="text"ng-repeat="extra in item.extras">
                                            {{extra.name}}<small ng-if="extra.price > 0"> + RD${{extra.price | number:2}}
                                            </small></p>
                                            <p ng-if="item.extra_info">
                                            Instrucciones especiales: {{item.extra_info}}</p> 
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7 price-total"> 
                                            <strong>RD${{item.item.price | number:2}} x {{item.quantity}}</strong> 
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 price-unit"> 
                                            <strong>RD${{item.total_item | number:2}}</strong> 
                                        </div>
                                        
                                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 action"> 
                                             
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                            <!-- item panel END -->
                            
                            <!-- item panel totals -->
                        	<div class="panel totals">
                            	<div class="panel-body"> 
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Subtotal</div>
                                        <div class="amount col-xs-7">RD${{subTotal | number:2}}</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>  
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">ITBIS</div>
                                        <div class="amount col-xs-7">RD${{itbis | number:2}}</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Delivery fee</div>
                                        <div class="amount col-xs-7">RD${{order.restaurant.delivery_cost | number:2}}</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Propina</div>
                                        <div class="amount col-xs-7">RD${{tip | number:2}}</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Total</div>
                                        <div class="amount col-xs-7"><span class="total-total">RD${{order.total | number:2}}</span></div>
                                        <div class="col-xs-1 action"></div>
                         			</div>        
                        		</div>
                        	</div>
                            <!-- item panel totals END -->
                            
                            <div class="resume-actions">
                            
                            	<div class="social-share">
                              		<a social-facebook custom-url="http://deliveryRD.do" status="Acabo de ordenar por deliveryRD.do! Wao que fácil es!" class="btn btn-facebook">
                                        <i class="fa fa-facebook"></i> Share</a> 
                                        <a social-twitter custom-url="http://deliveryRD.do" status="Acabo de ordenar por deliveryRD.do! Wao que fácil es!" class="btn btn-twitter">
                                        <i class="fa fa-twitter"></i> Share</a> 
                                        <!--<a href="#" class="btn btn-instagram"><i class="fa fa-instagram"></i> Share</a> -->
                              	</div>
                              
                              <a href="" ng-click="goHome()" class="btn btn-success">Continuar</a>
                              
                            </div>
                            
                        </div>
                        <!-- order-resume-body END -->
                    
                    </div>
                    <!-- order-resume END -->
                
                </div>
                <!-- .content-triangle END -->
                
            </div> 
            <!-- .container END -->
            
    	</section>
        <!-- section.content END -->
    
    </div>
    <!-- #main-content END -->