	<div class="clearfix"></div>
  <!-- main-content -->
	<div id="main-content">
		 
        <!-- content -->
        <section class="content"> 
        	<!-- content > container -->
            <div class="container">
        		
                <div class="row"> 
                    <div class="col-xs-4 col-sm-offset-4">
                       <p><input type="text" class="form-control input-grey input-italic"
                       ng-model="credentials.email" placeholder="Usuario"></p>
                       <p><input type="password" class="form-control input-grey input-italic"
                       ng-model="credentials.password" placeholder="Contraseña"></p>
                       <p class="align-right"><a href="{{password_reset}}" class="grey-text"><strong>Olvidé mi contraseña</strong></a></p>
                       <p><a href="" ng-click="ok()" class="btn btn-success btn-full-width">Ingresar</a></p>
                    </div>
                </div>
                  
            </div> 
            <!-- .container END -->
            
    	</section>
        <!-- section.content END -->
    
    </div>
    <!-- #main-content END -->