<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


	<meta name='robots' content='noindex,follow' >

    <title>[TITLE]</title>

	<!-- fonts.googleapis CSS -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom Themme CSS -->
    <link href="style.css" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	
	
</head> 

<body class="order">

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            
            <div class="brand pull-left">
            	<a href="#"><img src="images/main-brand-logo.png" alt="main brand logo"/></a>
            </div>
            
            <div class="user pull-right">
            						<form class="header-search">
                        <i class="field-icon fa fa-search"></i><input id="f-search" name="f-search" type="search" placeholder="Buscar Restaurantes" class="form-control input-md input-italic"> 
                    </form>
				            	<a href="#">Login/Register <span class="glyphicon glyphicon-user"></span></a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>
	<!-- main-content -->
	<div id="main-content">
		
        <!-- page_header -->
        <header class="page_header" style="background-image:url(images/header-1290x345.jpg);">
             <div class="container">
                <div class="row">
                    <div class="col-lg-12">&nbsp;</div>
                </div>
             </div>
        </header>
        <!-- page_header END -->
    	  
        <!-- content -->
        <section class="content"> 
        	<!-- content > container -->
            <div class="container">
        		
                <!-- content-triangle confirmed -->
                <div class="content-triangle confirmed">
                	<i class="bg-top"></i>
                    
                    <fieldset class="reddot fieldset-head">
                        <legend class="page-title">Confirmación</legend>
                        <span class="order-id">Orden # 000-00-00</span>
                        <p class="legend-caption">Gracias, su orden ha sido registrada</p>
                    </fieldset>
                    
                    <fieldset class="reddot">
                        
                        <table class="table-default table-order">
                            <tr>
                                <td class="icon"><span class="fa fa-user"></span></td>
                                <td class="user-info"><strong class="user-name">Rafael</strong></td>
                            </tr>
                            <tr>
                                <td class="icon"><span class="fa fa-phone"></span></td>
                                <td class="user-info"><span class="user-phone">000 000 00 00</span></td>
                            </tr>
                            <tr>
                                <td class="icon"><span class="fa fa-map-marker"></span></td>
                                <td class="user-info">Enviar a: <strong class="user-address">Lorem ipsum dolor sit amet consetu</strong></td>
                            </tr>
                            <tr>
                                <td class="icon"><small>RCN</small></td>
                                
                                
                                <td class="user-info">130800324 | PRISMA, SRL.</td>
                                 
                            </tr>
                        </table>
                        
                    </fieldset>
                    
                    <fieldset class="reddot">
                     
                            <div class="col-lg-6">
                            
                                <p><input type="text" class="form-control input-sm input-grey input-italic" value="Nombre locación" disabled="disabled" /></p>
                                
                                <p><input type="text" class="form-control input-sm input-grey input-italic" value="Apartamento / casa" disabled="disabled"/></p>
                            
                            </div> 
                            
                            <div class="col-lg-6">
                            
                            	<p><textarea class="form-control input-sm input-grey input-italic" rows="3" disabled="disabled" >Instrucciones especiales</textarea></p>
                            
                            </div> 
                    
                    </fieldset>
                    
                    <!-- order-resume -->
                    <div class="order-resume">
                    
                    	<div class="order-resume-header col-xs-12">
                        
                        	<h4 class="resume-title">Nombre Restaurant <small>#tipo #de #comida</small></h4> 
                            <p><span class="fa fa-map-marker"></span> <strong>Nombre de calle # Avenida</strong></p>
                        
                        </div>
                        
                        <!-- order-resume-body -->
                        <div class="order-resume-body col-xs-12">
                        
                        	<div class="panel panel-head">
                            	<div class="panel-body"> 
                                    <div class="row">
                                    	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 description">Item</div>
                                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7 price-total">Cantidad</div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 price-unit">Precio Unitario</div>
                                    </div>
                            	</div>
                            </div>
                        
                        	<!-- item panel panel-default -->
                        	<div class="panel panel-default">
                            	<div class="panel-body"> 
                                    <div class="row"> 
                                    	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 description"> 
                                            <h4>Burrito Super Especial</h4>
                                            <p class="text">Masa: Maíz<br />
                                            Salsa picante y mediana<br />
                                            Instrucciones especiales: No colocar lechuga</p> 
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7 price-total"> 
                                            <strong>RD$ 00000 x 20</strong> 
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 price-unit"> 
                                            <strong>RD$ 00000</strong> 
                                        </div>
                                        
                                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 action"> 
                                             
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                            <!-- item panel END -->
                            
                            <!-- item panel panel-default -->
                        	<div class="panel panel-default">
                            	<div class="panel-body"> 
                                    <div class="row"> 
                                    	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 description"> 
                                            <h4>Burrito Super Especial</h4>
                                            <p class="text">Masa: Maíz<br />
                                            Salsa picante y mediana.</p> 
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7 price-total"> 
                                            <strong>RD$ 00000 x 20</strong> 
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 price-unit"> 
                                            <strong>RD$ 00000</strong> 
                                        </div>
                                        
                                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 action"> 
                                             
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                            <!-- item panel END -->
                            
                            <!-- item panel totals -->
                        	<div class="panel totals">
                            	<div class="panel-body"> 
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Subtotal</div>
                                        <div class="amount col-xs-7">$ 00000000</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>  
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">ITBIS</div>
                                        <div class="amount col-xs-7">$ 00000000</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Delivery fee</div>
                                        <div class="amount col-xs-7">$ 00000000</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Propina</div>
                                        <div class="amount col-xs-7">$ 00000000</div>
                                        <div class="col-xs-1 action"></div>
                         			</div>
                                    <div class="row"> 
                                    	<div class="desc col-xs-4">Total</div>
                                        <div class="amount col-xs-7"><span class="total-total">$ 00000000</span></div>
                                        <div class="col-xs-1 action"></div>
                         			</div>        
                        		</div>
                        	</div>
                            <!-- item panel totals END -->
                            
                            <div class="resume-actions">
                            
                            	<div class="social-share">
                              		<a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i> Share</a> <a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i> Share</a> <a href="#" class="btn btn-instagram"><i class="fa fa-instagram"></i> Share</a>
                              	</div>
                              
                              <a href="#" class="btn btn-success">Continuar</a>
                              
                            </div>
                            
                        </div>
                        <!-- order-resume-body END -->
                    
                    </div>
                    <!-- order-resume END -->
                
                </div>
                <!-- .content-triangle END -->
                
            </div> 
            <!-- .container END -->
            
    	</section>
        <!-- section.content END -->
    
    </div>
    <!-- #main-content END -->
    
    <!-- page-modal

use it like: <a data-toggle="modal" class="edit" href="your-modal.html" data-target="#page-modal">

-->
<div class="modal fade" id="page-modal" tabindex="-1" role="dialog" aria-labelledby="page-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal --> 
 
	
    <footer>
    
    	<div class="container">
        
                <div class="row">
                      
                        <ul class="footer-nav-bottom">
                        
                        	<li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/group.png" alt=""><span>Sobre nosotros</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/contact.png" alt=""><span>Contáctenos</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/facebook.png" alt=""><span>Facebook</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/twitter.png" alt=""><span>Twitter</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/instagram.png" alt=""><span>Instagram</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/empleo.png" alt=""><span>Empleo</span></a></li>
                        
                        </ul>
                      
                </div>
                
    	</div>
    
    </footer>

	<!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script> 
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/customs.js"></script>
    
    <!-- PLUGINS -->
    	 
    <!-- PLUGINS END -->

</body>

</html> 
