<!DOCTYPE html>
<html lang="en">
  <head>
  	{% load static %}
    {% load staticfiles %}
    {% load i18n %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans 'Password reset' %}</title>

    <!-- Link to the Bootstrap CSS from a CDN -->
    {% block stylesheets %}

        <!-- Bootstrap -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet"> 
        <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
        <link href="{% static "css/jquery-ui.structure.min.css" %}" rel="stylesheet">
        <link href="{% static "css/jquery-ui.theme.min.css" %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>            

    {% endblock %}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>        
    <script src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/customs.js" %}"></script>  
  </head>
  <body>
	<nav class="navbar" role="navigation">
        <div class="container">
            <div class="brand pull-left">
                <a href="#"><img src="{% static "images/logoheader.png" %}" alt="main brand logo"/></a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <div id="main-content">
    	<div class="clearfix"></div>
    	<section class="content">
		    <div class="container">
				<div class="header">
		        	<h3 class="text-center">{% trans 'Password reset' %}</h3>
		      	</div>
	      		<div class="row" style="padding:20px;">
		          	<form role="form" action="." method="post">
			           {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
			           
			           <!-- If there are non-field errors in the form,
			                iterate over them one by one and display them.
			            -->
			            <small><p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p></small>
			           {% if form.non_field_errors %}
			            <p class="error">
			  	          {% for error in form.non_field_errors %}
					            {{ error }}
					          {% endfor %}
			            </p>
			           {% endif %}
			           <!-- Iterate over the fields in a form and render them  -->
			           {% for field in form %}
			            <div class="form-group">
			              <!-- Render the field label tag -->
					          {{ field.label_tag }}
			              <!-- If the field is required, display a * next to the field label -->
			              {% if field.field.required %}
			              *
			              {% endif %}
			              <br/>
			              <!-- Render the input field -->
					          {{ field }}
					        <!-- Iterate over the field's errors, if any and display
			                 them one by one in a error alert
			            -->
					        {% if field.errors %}
					          <p class="error">
					          {% for error in field.errors %}
					            {{ error }}
					          {% endfor %}
					          </p>
					        {% endif %}
			            </div>
			          {% endfor %}
			    		<input type="submit" class="btn btn-success" value="{% trans 'Reset my password' %}" />
			   	  	</form>
		      	</div>
		    </div>
	    </section>
    </div>
  </body>
  <footer>
    	<div class="container">
            <div class="row">
                <ul class="footer-nav-bottom">
                	<li class=""><a ui-sref="about" target="_blank"><img class="img-responsive img-center" src="{% static "images/icons/group.png" %}"alt=""><span>Sobre nosotros</span></a></li>
                            
                    <li class=""><a href="#"><img class="img-responsive img-center" src="{% static  "images/icons/contact.png" %}" alt=""><span>Contáctenos</span></a></li>
                            
                    <li class=""><a href="http://www.facebook.com/DeliveryRD" target="_blank"><img
                        class="img-responsive img-center"
                        src="{% static  "images/icons/facebook.png" %}"
                        alt=""><span>Facebook</span></a></li>
                            
                    <li class=""><a href="http://www.twitter.com/DeliveryRD_do" target="_blank"><img
	                    class="img-responsive img-center"
    	                src="{% static "images/icons/twitter.png" %}" alt=""><span>Twitter</span></a></li>
                            
                    <li class=""><a href="http://www.instagram.com/DeliveryRD.do" target="_blank"><img
                        class="img-responsive img-center"
                        src="{% static "images/icons/instagram.png" %}" alt=""><span>Instagram</span></a></li>
                            
                    <li class=""><a href="#"><img class="img-responsive img-center" src="{% static "images/icons/empleo.png" %}"alt=""><span>Empleo</span></a></li>
                </ul>
	        </div>
    	</div>
    </footer>
</html>
