<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


	<meta name='robots' content='noindex,follow' >

    <title>[TITLE]</title>

	<!-- fonts.googleapis CSS -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom Themme CSS -->
    <link href="style.css" rel="stylesheet"> 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	
	
</head> 

<body class="restaurant-menu">

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            
            <div class="brand pull-left">
            	<a href="#"><img src="images/main-brand-logo.png" alt="main brand logo"/></a>
            </div>
            
            <div class="user pull-right">
            						<form class="header-search">
                        <i class="field-icon fa fa-search"></i><input id="f-search" name="f-search" type="search" placeholder="Buscar Restaurantes" class="form-control input-md input-italic"> 
                    </form>
				            	<a href="#">Login/Register <span class="glyphicon glyphicon-user"></span></a>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>
	<div id="main-content">
		
        <!-- page_header menu_header -->
        <header class="page_header menu_header">
             <div class="container">
                <div class="row">
                    <div class="rounded not-top">
						<div class="rounded-img" style="background-image:url(images/header-1290x345.jpg);">
                        	
                        </div>
                        <div class="rounded-menu"> 
                        
                        	<!-- table-as -->
                            <div class="table-as menu-details"> 
                            	<div class="row-as"> 
                                	<div class="cell-as brand">
                                    	<div class="icon-brand"><img class="img-brand img-circle img-responsive img-center" src="http://placehold.it/172x172" alt=""><h1 class="menu-title">Nombre Restaurant</h1></div>
                                    </div>
                                    
                                    <div class="cell-as first">
                                    	#Sandwich #Fitness #Fresh
                                    </div>
                                    
                                    <div class="cell-as">
                                    	Tiempo de Delivery: <strong>30-45 min</strong>
                                    </div>
                                    
                                    <div class="cell-as">
                                    	Mínimo de Delivery: <strong>RD $ 10000000</strong>
                                    </div> 
                            	</div> 
                            </div> 
                            <!-- table-as END -->
                            
                        </div>
                        
                    </div>
                </div>
             </div>
        </header>
        <!-- page_header menu_header END -->
    	  
        <!-- content -->
        <section class="content inner"> 
        
            <div class="container">
        		
				<div class="row">
                	
                    <!-- left content -->
                    <div class="col-md-8">
                    	
                        <!-- tabs -->
                        <ul class="nav nav-tabs nav-justifieds" data-tabs="tabs">
                            <li class="active"><a href="#menu" data-toggle="tab">Menú</a></li>
                            <li><a href="#informacion" data-toggle="tab">Información</a></li> 
                        </ul>
                        
                        <div class="tab-content">
                        	
                            <!-- tab-pane -->
                            <div class="tab-pane active" id="menu">
                                
                                <!-- panel-group -->
                                
                                <div class="panel-group" id="accordion">
                                  
                                  <div class="panel panel-primary">
                                  
                                  	<!-- panel item #menu-entrada -->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#menu-entrada">Entrada <i class="fa"></i></a>
                                      </h4>
                                    </div>
                                    <div id="menu-entrada" class="panel-collapse collapse in">
                                      <div class="panel-body">
                                        
                                        <div class="row list-menu"> 
											  
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                              
                                                <article class="col-lg-6 col-md-6 col-sm-6 col-xs-12 item"> 
                                                    <div class="text">
                                                        <h3>Nombre del producto</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                                    </div>
                                                    <div class="action">
                                                    	<span class="price">$ 0000000</span>
                                                        <a href="#" class="btn btn-success btn-xs">Añadir</a>
                                                    </div>
                                                </article>  
                                             
                                        </div>
                                        
                                      </div>
                                    </div>
                                    <!-- panel item #menu-entrada END -->
                                    
                                    <!-- panel item #menu-plato-fuerte -->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#menu-plato-fuerte">Plato Fuerte <i class="fa"></i></a>
                                      </h4>
                                    </div>
                                    <div id="menu-plato-fuerte" class="panel-collapse collapse">
                                      <div class="panel-body"> 
                                        <div class="row">
                                         	<article class="col-lg-12">
                                                <h4>Nombre del producto</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                            </article>
                                        </div> 
                                      </div>
                                    </div>
                                    <!-- panel item #menu-plato-fuerte END -->
                                    
                                    <!-- panel item #menu-carnes -->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#menu-carnes">Carnes <i class="fa"></i></a>
                                      </h4>
                                    </div>
                                    <div id="menu-carnes" class="panel-collapse collapse">
                                      <div class="panel-body"> 
                                        <div class="row">
                                         	<article class="col-lg-12">
                                                <h4>Nombre del producto</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                            </article>
                                        </div> 
                                      </div>
                                    </div>
                                    <!-- panel item #menu-carnes END -->
                                    
                                    <!-- panel item #menu-pollo -->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#menu-pollo">Pollo <i class="fa"></i></a>
                                      </h4>
                                    </div>
                                    <div id="menu-pollo" class="panel-collapse collapse">
                                      <div class="panel-body"> 
                                        <div class="row">
                                         	<article class="col-lg-12">
                                                <h4>Nombre del producto</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                            </article>
                                        </div> 
                                      </div>
                                    </div>
                                    <!-- panel item #menu-pollo END -->
                                    
                                    <!-- panel item #menu-pescados -->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#menu-pescados">Pescados <i class="fa"></i></a>
                                      </h4>
                                    </div>
                                    <div id="menu-pescados" class="panel-collapse collapse">
                                      <div class="panel-body"> 
                                        <div class="row">
                                         	<article class="col-lg-12">
                                                <h4>Nombre del producto</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                            </article>
                                        </div> 
                                      </div>
                                    </div>
                                    <!-- panel item #menu-pescados END -->
                                    
                                    <!-- panel item #menu-postres -->
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#menu-postres">Postres <i class="fa"></i></a>
                                      </h4>
                                    </div>
                                    <div id="menu-postres" class="panel-collapse collapse">
                                      <div class="panel-body"> 
                                        <div class="row">
                                         	<article class="col-lg-12">
                                                <h4>Nombre del producto</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Euismod augue...</p>
                                            </article>
                                        </div> 
                                      </div>
                                    </div>
                                    <!-- panel item #menu-pescados END -->
                                    
                                  </div>
                                  
                                </div>
                                <!-- panel-group END -->
                                
                            </div>
                            <!-- tab-pane END -->
                            
                            <!-- tab-pane -->
                            <div class="tab-pane" id="informacion">
                                <h4 class="pane-title">Información de contacto</h4>
                                <p><span class="fa fa-map-marker"></span> Esq. Federico Geraldino. Av Gustavo Mejia Ricart, Santo Domingo, República Dominicana</p>
                                <p><span class="fa fa-clock-o"></span> 00:00 am - 00:00 pm</p>
                                <p class="cards"><img src="images/cards/mastercard-curved-32px.png" alt=" " /> <img src="images/cards/visa-curved-32px.png" alt=" " /> <img src="images/cards/american-express-curved-32px.png" alt=" " /> <img src="images/cards/paypal-curved-32px.png" alt=" " /></p>
                                <div class="map">
                                	<div id="map_canvas" style=" height:500px"></div>
     
									<script type="text/javascript">
                                     
                                     // rg api: AIzaSyBbE1WKRyspJbOlD3HhGFeJ1pww4sj_PKY
                                      
                                        var apikey = "AIzaSyBbE1WKRyspJbOlD3HhGFeJ1pww4sj_PKY";
                                        var pos_lati = 18.472413;
                                        var pos_long = -69.9403285;
                                     
                                    function initialize() {
                                    
                                        if(jQuery('html').hasClass('touch')){draggable=false;}else{draggable=true;}
                                         
                                      var myLatLng = new google.maps.LatLng(pos_lati,pos_long);
                                      
                                      var mapOptions = {
                                        zoom: 17,
                                        center: myLatLng,
                                        scrollwheel: false,
                                        streetViewControl: false,
                                        zoomControl: true,
                                        navigationControl: false,
                                        mapTypeControl: false,
                                        scaleControl: false,
                                        draggable: draggable,
                                        disableDoubleClickZoom: true,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                      }
                                      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                                    
                                      var image = 'images/icon-location.png';
                                       
                                      var beachMarker = new google.maps.Marker({
                                          position: myLatLng,
                                          map: map,
                                          icon: image
                                      });
                                    }
                                    
                                    function loadScript() {
                                      var script = document.createElement("script");
                                      script.type = "text/javascript";
                                      script.src = "http://maps.googleapis.com/maps/api/js?key="+apikey+"&sensor=FALSE&callback=initialize";
                                      document.body.appendChild(script);
                                    }
                                    
                                    window.onload = loadScript;
                                    
                                    </script>
                                </div>
                            </div> 
                            <!-- tab-pane END -->
                            
                        </div>
                        <!-- tabs END -->
                        
                    </div>
                    <!-- left content END -->
                    
                    <!-- right content (sidebar) -->
                    <div class="col-md-4">
                    	<aside class="sidebar">
	<i class="sidebar-top"></i>
    <div class="wrap">
		
        <div class="cart cart-sidebar">        
         
            <table class="table table-default">
            	<tr>
                	<td colspan="2">
                    	<div class="well"><strong>Nombre de usuario</strong></div>
                    </td>
                </tr>
                <tr>
                	<td><small class="iconized"><span class="fa fa-map-marker"></span> Delivery para:</small></td>
                    <td><div class="well"><strong>Nombre locación</strong></div></td>
                </tr>   
        	</table>
            
            <h4 class="cart-subtitle">Items</h4>
            
            <table class="table table-default table-cart"> 
                <tr class="well-row">
                	<td class="t-name">Nombre del producto...</td>
                    <td class="t-quantity">x1</td>
                    <td class="t-edit"><a href="#"><span class="fa fa-edit"></span></a></td>
                    <td class="t-price"><strong>$0000000</strong></td>
                    <td class="t-remove"><a href="#"><span class="fa fa-remove"></span></a></td>
                </tr>  
                <tr class="well-row">
                	<td class="t-name">Nombre del producto...</td>
                    <td class="t-quantity">x1</td>
                    <td class="t-edit"><a href="#"><span class="fa fa-edit"></span></a></td>
                    <td class="t-price"><strong>$0000000</strong></td>
                    <td class="t-remove"><a href="#"><span class="fa fa-remove"></span></a></td>
                </tr> 
                <tr class="well-row">
                	<td class="t-name">Nombre del producto...</td>
                    <td class="t-quantity">x1</td>
                    <td class="t-edit"><a href="#"><span class="fa fa-edit"></span></a></td>
                    <td class="t-price"><strong>$0000000</strong></td>
                    <td class="t-remove"><a href="#"><span class="fa fa-remove"></span></a></td>
                </tr> 
                <tr class="well-row">
                	<td class="t-name">Nombre del producto...</td>
                    <td class="t-quantity">x1</td>
                    <td class="t-edit"><a href="#"><span class="fa fa-edit"></span></a></td>
                    <td class="t-price"><strong>$0000000</strong></td>
                    <td class="t-remove"><a href="#"><span class="fa fa-remove"></span></a></td>
                </tr>  
        	</table>
            
            <table class="table table-default well">
            	<tr>
                	<td>Subtotal</td>
                    <td class="t-subtotal value"><strong>$0000000</strong></td>
                </tr> 
                <tr>
                	<td>ITBIS</td>
                    <td class="t-itbis value"><strong>$0000000</strong></td>
                </tr> 
                <tr>
                	<td>Delivery fee</td>
                    <td class="t-delivery value"><strong>$0000000</strong></td>
                </tr>
                <tr>
                	<td>Propina legal</td>
                    <td class="t-propina value"><strong>$0000000</strong></td>
                </tr> 
                <tr>
                	<td>Total</td>
                    <td class="t-total value total"><strong>$000000000</strong></td>
                </tr> 
        	</table>
            
            <a href="#" class="btn btn-lg btn-checkout btn-success">Checkout</a>
              
        </div>
        
	</div>
</aside>                    </div>
                    <!-- right content (sidebar) END -->
                    
                </div>
                 
            </div> 
    	</section>
        <!-- content END -->
    
    </div>
 
	
    <footer>
    
    	<div class="container">
        
                <div class="row">
                      
                        <ul class="footer-nav-bottom">
                        
                        	<li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/group.png" alt=""><span>Sobre nosotros</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/contact.png" alt=""><span>Contáctenos</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/facebook.png" alt=""><span>Facebook</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/twitter.png" alt=""><span>Twitter</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/instagram.png" alt=""><span>Instagram</span></a></li>
                            
                            <li class=""><a href="#"><img class="img-responsive img-center" src="images/icons/empleo.png" alt=""><span>Empleo</span></a></li>
                        
                        </ul>
                      
                </div>
                
    	</div>
    
    </footer>

	<!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script> 
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/customs.js"></script>
    
    <!-- PLUGINS -->
    	 
    <!-- PLUGINS END -->

</body>

</html> 
